@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

*,
ul,
li {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
body {
  font-family: Work Sans;
}

/* shared style  */
.section-center {
  margin: 0 240px;
}
.title-gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-primary {
  color: #534c64;
}
.btn-primary {
  border: 0;
  padding: 21px 40px;
  border-radius: 48px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
}
/* header related style */

/* nav section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 240px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-brand {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-brand h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.nav-brand > h3 > span {
  color: #ff42a5;
}
.nav-link {
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}
.nav-link a {
  text-decoration: none;
}
.nav-link a:visited {
  color: #3c354f;
}

.nav-link ul {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}
.follow-icons {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 17px 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

/* banner section */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-desc,
.banner-img {
  width: 50%;
}
.banner-desc {
  padding-left: 240px;
  padding-top: 140px;
  padding-bottom: 140px;
  background: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}
.banner-img {
  padding-right: 240px;
}
.banner-desc h3 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}
.banner-desc h2 {
  font-size: 5.94rem;
  font-weight: 800;
}
.banner-desc ul {
  list-style: none;
  margin-top: 3px;
  margin-bottom: 40px;
}
.banner-desc > ul > li {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 17px;
}

.go-rough {
  background: #4ec5f7;
}
.banner-img img {
  width: 99%;
}

/* we are gamer section style */
.gamer-section {
  display: flex;
  align-items: center;
}
.section-text {
  text-align: right;
}
.section-title {
  font-size: 3rem;
  font-weight: 700;
}
.section-desc {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 32px;
}
.our-purpose {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 24px;
}
.our-purpose-title {
  font-size: 2rem;
  font-weight: 700;
}
/*  */
/* responsive style */
/*  */
@media screen and (max-width: 576px) {
  .section-center {
    margin: 0 10px;
  }
  nav {
    flex-direction: column;
    justify-content: center;
    padding: 100px 0 0 0;
    gap: 62px;
    box-shadow: none;
  }
  .nav-link ul {
    flex-direction: column;
    justify-content: center;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 24px;
    margin-top: 70px;
  }

  .banner-desc {
    width: 80%;
    margin: 20px;
    padding: 20px;
  }
  .banner-img {
    width: 95%;
    padding: 0;
  }
  .banner-desc h3 {
    font-size: 2rem;
  }
  .banner-desc h2 {
    font-size: 4rem;
  }

  .banner-desc > ul > li {
    font-size: 1rem;
  }
  .sign-in,
  .go-rough {
    padding: 15px 30px;
    font-size: 1rem;
  }
  .banner-img img {
    width: 90vw;
  }

  /* we are gamer section  */
  .gamer-section {
    flex-direction: column;
    justify-content: center;
  }
  .gamer-section img {
    width: 90vw;
  }
  .section-text {
    text-align: center;
  }
}
@media screen and (min-width: 993px) and (max-width: 1400px) {
  .section-center {
    margin: 0 50px;
  }
  nav {
    padding: 15px 50px;
  }
  .banner-desc {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .banner-img {
    padding-right: 50px;
  }
  .banner-img img {
    width: 90%;
    float: right;
  }
}
